{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <img src="{{b.img.url}}" width="300" height="300"><br>
        </div>
        <div class="col-md-6">
        {{b.name}}<br>
        {{b.age}}<br>
        {{b.desc}}<br>
        <a class="btn btn-warning" href="{% url 'movieapp:update' b.id %}">update</a>
        <a class="btn btn-danger" href="{% url 'movieapp:delete' b.id %}">delete</a>
        </div>
    </div>
</div>
{% endblock %}





